<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.goods.GoodsController"></bean>
	<bean class="service.goods.GoodsNumberService"></bean> <!-- 서비스에서 클래스를 맞춰서쓴다면 id에 안써도 된다 . -->
	<bean class="repository.GoodsRepository"></bean>
	<bean class="service.goods.GoodsRegistService"></bean> <!-- 서비스에서 클래스를 맞춰서쓴다면 id에 안써도 된다 . -->
	<bean class="service.goods.GoodsListService"></bean>
</beans>