<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.main.MainController"/>
	<bean id="loginRepository" class="repository.LoginRepository"></bean>
	<bean id="loginService" class="service.main.LoginService"></bean>
	<bean class="service.main.SearchIdService"></bean>
	<bean class="service.main.PwSearchService"></bean>
	<bean class="service.main.CookieService"></bean>
	
	
	
	<bean class="controller.main.LoginController"></bean>
	
	
	<bean class="controller.ajax.AjaxController"></bean>
	
	
	
	

</beans>