<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.cart.CartController"></bean>
	<bean class="repository.CartRepository"></bean>
	<bean class="service.cart.CartAddService"></bean>
	<bean class="service.cart.CartListService"></bean>
	<bean class="service.cart.CartQtyDecreaseService"></bean>
	<bean class="service.cart.CartOrderService"></bean>
	<bean class="service.cart.PaymentActionService"></bean>

	
</beans>