<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.GoodsMapper">


<!-- 아이디는 프라이머리키  -->
<!-- result는 일반컬럼들  -->
<resultMap type="Model.GoodsDTO" id="baseResult">
	<id column="PROD_NUM" jdbcType="BIGINT" property="prodNum"/>
	<result column="PROD_NAME" jdbcType="VARCHAR" property="prodName"/>
	<result column="PROD_PRICE" jdbcType="BIGINT" property="prodPrice"/>
	<result column="PROD_IMAGE" jdbcType="VARCHAR" property="prodImage"/>
	<result column="PROD_DETAIL" jdbcType="VARCHAR" property="prodDetail"/>
	<result column="PROD_CAPACITY" jdbcType="BIGINT" property="prodCapacity"/>
	<result column="PROD_SUPPLYER" jdbcType="VARCHAR" property="prodSupplyer"/>
	<result column="PROD_DEL_FEE" jdbcType="BIGINT" property="prodDelFee"/>
	<result column="RECOMMAND" jdbcType="VARCHAR" property="recommand"/>
	<result column="EMPLOYEE_ID" jdbcType="BIGINT" property="employeeId"/>
	<result column="CTGR" jdbcType="VARCHAR" property="ctgr"/>
</resultMap>




<select id="wishCount" parameterType="Model.WishDTO" resultType="int">
	select count(*) from wish
	where prod_num = #{prodNum} and mem_id = #{memId}
</select>


<insert id="wishAdd" parameterType="Model.WishDTO" useGeneratedKeys="false"> <!-- 인서트 로 merge쓸때 에러 나는거방지  --> <!-- 머지쓸때 insert해도되고 update해도된다 -->
	MERGE into wish w
	using (select prod_num from products where prod_num = #{prodNum}) p
	on (w.prod_num = p.prod_num and w.mem_id = #{memId})
	When matched then <!-- ck쓰는이유: 오라클에서 머지쓸때 delete 만 사용이 안된다 그래서 아무거나 만들어서 update 앞에해주는거  -->
		update set w.ck = 1111
		delete where (w.prod_num = #{prodNum} and w.mem_id = #{memId})
	When not Matched then 
		insert (w.prod_num, w.mem_id)
		values(#{prodNum},#{memId})
	
</insert>




<delete id="goodsDel" parameterType="string">
	delete from products
	where prod_num = #{prodNum}

</delete>

<update id="goodsModify" parameterType="gd">

	update products
	set     PROD_NAME = #{prodName}, PROD_PRICE = #{prodPrice},
			 PROD_DETAIL = #{prodDetail}, 
			PROD_CAPACITY = #{prodCapacity}, PROD_SUPPLYER = #{prodSupplyer} , 
			PROD_DEL_FEE = #{prodDelFee}, RECOMMAND = #{recommand}, 
			 CTGR = #{ctgr},PROD_IMAGE = #{prodImage}
			where prod_num = #{prodNum}
</update>

<select id="goodsDetail"  parameterType="string" resultMap="baseResult">
	select  PROD_NUM , PROD_NAME , PROD_PRICE ,
			PROD_IMAGE, PROD_DETAIL, 
			PROD_CAPACITY, PROD_SUPPLYER , 
			PROD_DEL_FEE , RECOMMAND , 
			EMPLOYEE_ID , CTGR from products
	where prod_num= #{prodNum}
</select>



<insert id="goodsRegist" parameterType="gd">
	insert into products(PROD_NUM, PROD_NAME, PROD_PRICE, PROD_DETAIL,
	PROD_CAPACITY, PROD_SUPPLYER, PROD_DEL_FEE, RECOMMAND, 
	EMPLOYEE_ID, CTGR, PROD_IMAGE)
	values(#{prodNum},#{prodName},#{prodPrice},#{prodDetail},
	#{prodCapacity},#{prodSupplyer},#{prodDelFee},#{recommand},
	#{employeeId},#{ctgr},
	<if test ="prodImage != null"> #{prodImage}</if>
	<if test="prodImage == null"> null</if>
	)
</insert>



<select id="goodsNum" resultType="int">
	select prod_seq.nextval from dual
	<!-- create SEQUENCE prod_seq
		start with 10000; -->
</select>
 
 
 
 <!-- List 및  모듈화 -->
 
 <select id="count" resultType="int">
 	select count(*) from products
 </select>

 
<select id="goodsList" resultType="gd" parameterType="gd">
select rn,prodNum,prodName,prodPrice,prodImage,prodDetail,prodCapacity,
		prodSupplyer,prodDelFee,recommand,employeeId ,ctgr
	from( select  rownum rn ,PROD_NUM prodNum, PROD_NAME prodName, PROD_PRICE prodPrice,
			PROD_IMAGE prodImage, PROD_DETAIL prodDetail, 
			PROD_CAPACITY prodCapacity, PROD_SUPPLYER prodSupplyer, 
			PROD_DEL_FEE prodDelFee, RECOMMAND recommand, 
			EMPLOYEE_ID employeeId, CTGR ctgr 
		from products)
<where>
	<if test="startEndPageDTO != null">		<!-- 메인페이지에 상품리스트 출력되는것 댸문에  -->
		 rn between #{startEndPageDTO.startRow}
			and #{startEndPageDTO.endRow}
	</if>		
</where>
</select>

</mapper>
